.container{
    width: 1140px;
    max-width: 98%;
    text-align: center;
    margin: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: 
    " header header header header "
    "nav     main   main    aside"
    "nav     main   main    ad"
    "footer footer footer footer "
    ;
}
header{
    grid-area: header;
    background-color: lightsalmon;
    padding: 10px;
}
nav{
    grid-area: nav;
    background-color: lightsalmon;
    padding: 10px;
}
main{
    grid-area: main;
    background-color: lightsalmon;
    padding: 10px;
}
aside{
    grid-area: aside;
    background-color: lightsalmon;
    padding: 10px;
}
.ad{
    grid-area: ad;
    background-color: lightsalmon;
    padding: 10px;
}
footer{
    grid-area: footer;
    background-color: lightsalmon;
    padding: 10px;
}
@media screen and (max-width:576px) {
    .container{
        grid-template-columns: repeat(1 ,1fr);
        grid-template-areas: 
        " header"
        "nav   "
        "main  "
        "aside"
        "ad"
        "footer "
        ;
    }
}
@media screen and (min-width:577px) and (max-width:756px){
    .container{
        grid-template-columns: repeat(1 ,1fr);
        grid-template-areas: 
        " header header header"
        "nav  nav nav"
        "aside main  main"
        "ad footer footer"
        ;
    }
}