*{
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row{
    width: 1100px;
    max-width: 98%;
    margin: auto;
}
.container_1 .child {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}
.secend_container{
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    height: 200px;
}
.secend_container> div{
    flex: 1;
}
.secend_container .child_3{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.secend_container .child_3 img{
    height:calc(100px - 5px);
}
.third_container{
    display: flex;
    gap: 10px;
    height: 200px;
}
.third_container > div{
    flex: 1;
}
.third_container .child_2{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.third_container .child_2 img{
    width: calc(50% - 5px );
    height: calc(50% - 5px);
}
@media screen and (max-width:576px) {
    .secend_container,.third_container .child_2 {
        height: auto;
        flex-direction: column;
    }
    .secend_container .child_3 img {
        height: auto;
    }
    .third_container {
        flex-direction: column;
        height: auto;
    }
    .third_container .child_2 img {
        width: auto;
        height: auto;
    }
}
@media screen and (min-width:577px) and (max-width:768px){
    body{
        background-color: rgb(242, 143, 13);
    }
    .secend_container> div {
        flex: none;
        width: calc(50% - 5px);
    }
    .secend_container {
        flex-wrap: wrap;
        height: auto;
    }
    .secend_container .child_3 {
        flex-direction: row;
        width: 100%;
    }
    .secend_container .child_3 img {
        height: auto;
        width: calc(50% - 5px);
    }
    .third_container {
        flex-wrap: wrap;
    }
    .third_container > div {
        flex: none;
        width: 49%;
    }
    .third_container .child_2 img {
        width: 100%;
        height: auto;
    }
}